<!-- <div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light bg-dark">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light bg-dark">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light bg-dark">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light bg-dark">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light bg-dark">About</a></li>
    </ul>
    <p class="text-center text-light bg-dark">© 2022 Company, Inc</p>
  </footer>
</div> -->
<div class="container text-light bg-dark">
  <footer class="py-5 text-light bg-dark" >
    <div class="row text-light bg-dark">
      <div class="col-6 col-md-2 mb-3">
        <h5>Quick Links</h5>
        <ul class="nav flex-column text-light bg-dark">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">Records</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">Vehicle Model</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">Reviews</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">Cars</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">Contact</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Support</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">Contact Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">Open Ticket</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">Reports</a></li>
          
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Contact Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">noreply@reply.com</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light bg-dark">+012 345 6789</a></li>
          
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-center py-4 my-4 border-top">
      <p>&copy; 2022 Jerico Olobia, Winefredo Sailes Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>